---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/seishingithub/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1402901251'
      Etag:
      - '"b6acbd0688d635753b5213e2e7d07d82"'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/5098828/repos?page=2>; rel="next", <https://api.github.com/user/5098828/repos?page=3>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":19711652,"name":"activerecord_associations","full_name":"seishingithub/activerecord_associations","owner":{"login":"seishingithub","id":5098828,"avatar_url":"https://avatars.githubusercontent.com/u/5098828?","gravatar_id":"38933edfc9bc5f3c9ba04c61a1e857a5","url":"https://api.github.com/users/seishingithub","html_url":"https://github.com/seishingithub","followers_url":"https://api.github.com/users/seishingithub/followers","following_url":"https://api.github.com/users/seishingithub/following{/other_user}","gists_url":"https://api.github.com/users/seishingithub/gists{/gist_id}","starred_url":"https://api.github.com/users/seishingithub/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/seishingithub/subscriptions","organizations_url":"https://api.github.com/users/seishingithub/orgs","repos_url":"https://api.github.com/users/seishingithub/repos","events_url":"https://api.github.com/users/seishingithub/events{/privacy}","received_events_url":"https://api.github.com/users/seishingithub/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/seishingithub/activerecord_associations","description":"","fork":true,"url":"https://api.github.com/repos/seishingithub/activerecord_associations","forks_url":"https://api.github.com/repos/seishingithub/activerecord_associations/forks","keys_url":"https://api.github.com/repos/seishingithub/activerecord_associations/keys{/key_id}","collaborators_url":"https://api.github.com/repos/seishingithub/activerecord_associations/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/seishingithub/activerecord_associations/teams","hooks_url":"https://api.github.com/repos/seishingithub/activerecord_associations/hooks","issue_events_url":"https://api.github.com/repos/seishingithub/activerecord_associations/issues/events{/number}","events_url":"https://api.github.com/repos/seishingithub/activerecord_associations/events","assignees_url":"https://api.github.com/repos/seishingithub/activerecord_associations/assignees{/user}","branches_url":"https://api.github.com/repos/seishingithub/activerecord_associations/branches{/branch}","tags_url":"https://api.github.com/repos/seishingithub/activerecord_associations/tags","blobs_url":"https://api.github.com/repos/seishingithub/activerecord_associations/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/seishingithub/activerecord_associations/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/seishingithub/activerecord_associations/git/refs{/sha}","trees_url":"https://api.github.com/repos/seishingithub/activerecord_associations/git/trees{/sha}","statuses_url":"https://api.github.com/repos/seishingithub/activerecord_associations/statuses/{sha}","languages_url":"https://api.github.com/repos/seishingithub/activerecord_associations/languages","stargazers_url":"https://api.github.com/repos/seishingithub/activerecord_associations/stargazers","contributors_url":"https://api.github.com/repos/seishingithub/activerecord_associations/contributors","subscribers_url":"https://api.github.com/repos/seishingithub/activerecord_associations/subscribers","subscription_url":"https://api.github.com/repos/seishingithub/activerecord_associations/subscription","commits_url":"https://api.github.com/repos/seishingithub/activerecord_associations/commits{/sha}","git_commits_url":"https://api.github.com/repos/seishingithub/activerecord_associations/git/commits{/sha}","comments_url":"https://api.github.com/repos/seishingithub/activerecord_associations/comments{/number}","issue_comment_url":"https://api.github.com/repos/seishingithub/activerecord_associations/issues/comments/{number}","contents_url":"https://api.github.com/repos/seishingithub/activerecord_associations/contents/{+path}","compare_url":"https://api.github.com/repos/seishingithub/activerecord_associations/compare/{base}...{head}","merges_url":"https://api.github.com/repos/seishingithub/activerecord_associations/merges","archive_url":"https://api.github.com/repos/seishingithub/activerecord_associations/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/seishingithub/activerecord_associations/downloads","issues_url":"https://api.github.com/repos/seishingithub/activerecord_associations/issues{/number}","pulls_url":"https://api.github.com/repos/seishingithub/activerecord_associations/pulls{/number}","milestones_url":"https://api.github.com/repos/seishingithub/activerecord_associations/milestones{/number}","notifications_url":"https://api.github.com/repos/seishingithub/activerecord_associations/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/seishingithub/activerecord_associations/labels{/name}","releases_url":"https://api.github.com/repos/seishingithub/activerecord_associations/releases{/id}","created_at":"2014-05-12T19:10:14Z","updated_at":"2014-05-12T19:10:15Z","pushed_at":"2014-05-12T16:06:51Z","git_url":"git://github.com/seishingithub/activerecord_associations.git","ssh_url":"git@github.com:seishingithub/activerecord_associations.git","clone_url":"https://github.com/seishingithub/activerecord_associations.git","svn_url":"https://github.com/seishingithub/activerecord_associations","homepage":null,"size":95,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":19479900,"name":"api_spike","full_name":"seishingithub/api_spike","owner":{"login":"seishingithub","id":5098828,"avatar_url":"https://avatars.githubusercontent.com/u/5098828?","gravatar_id":"38933edfc9bc5f3c9ba04c61a1e857a5","url":"https://api.github.com/users/seishingithub","html_url":"https://github.com/seishingithub","followers_url":"https://api.github.com/users/seishingithub/followers","following_url":"https://api.github.com/users/seishingithub/following{/other_user}","gists_[...]
